*{
    margin: 0 auto;
}
.container-1{
    margin: 0 auto;
    background-color: darkslategrey;
}


.image{
    height: 100px;
    width: 150px;
    float: left;
    padding-left: 20px;
}
.file{
    float: left;
    padding-top: 30px;
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
    color:white;
}
.nav-menu{ 
    font-family: 'Roboto', sans-serif;

}
.nav-menu ul{

}
.nav-menu ul li{ 
    list-style-type: none;
    float: right;
    padding: 30px;
    font-size: 30px;

}
.nav-menu ul li a{ 
    text-decoration: none;
    color: white;

}
.hoover-1:hover{
   background-color:#4CAF50;
   color: white;
   font-size: 100%;
}
.clear{
    clear: both;
}
.line-break-1{
    border-color: darkslategray;
    border-width: 20%;
    margin: 10px auto;
    margin-left: 10%;
    margin-right: 10%;
}
.container-2{
    max-width: 80%;
    margin: 0 auto;
    background-color: white;

}
.Css-card-1{
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 1px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-color: white;
}
.Css-image{
    width: 100%;
    height: 600px;
}
.Css-heading-1{
    font-family: 'Metal Mania', cursive;
    color: cornflowerblue;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
}
.Css-writing-1{
    font-family:'Tenali Ramakrishna', sans-serif;
    padding: 5px;
}
.Css-card-2{
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 1px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-color: white;
}
.Css-heading-2{
    font-family: 'Metal Mania', cursive;
    color: cornflowerblue;
    margin: 0 auto;
    text-align: center;
    font-size: 40px
}
.Css-tutorial-heading{
    font-family: 'Roboto', sans-serif;
    padding-left: 25px;
}
.Css-vid{
    width: 70%;
    height: 400px;
    padding-top: 20px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
}

.bottom-container{
    background-color: darkslategray;
    max-width: 80%;
    margin: 0px auto;
    padding: 25px;
    margin-top: 10px;
}

.bottom-container a{
    color: white;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin-left: 100px;
}
